@inherits LayoutComponentBase
<input @bind="filterString" />
<button @onclick="Filter">Filter</button>
<button>-50</button>
<button>+50</button>

@foreach(var product in toRenderList)
{
    <ProductComponent @key="@product" Product="@product.Name"/>
}

@code {
    private List<Product> products;
    private IList<Product> filteredProducts;
    private IList<Product> toRenderList;
    private string filterString = "";

    protected override void OnInitialized()
    {
        products = new List<Product>();

        for (int i = 0; i < 10000; i++)
        {
            products.Add(new Product(i, "Product " + i));
        }

        filteredProducts = new List<Product>(products);
        toRenderList = products.GetRange(0, 49);
    }

    private void Filter()
    {
        filteredProducts = products.Where(p => p.Name.Contains(filterString)).ToList();
    }
}
