@inherits LayoutComponentBase

<input @bind="filterString" />
<button @onclick="Filter">Filter</button>

<table>
    <tr>
        <th>Products</th>
    </tr>
    @foreach(string product in filteredProducts)
    {
        <tr>
            <td>
                @product
            </td>
        </tr>
    }
</table>

@code {
    private List<string> products;
    private List<string> filteredProducts;
    private string filterString = "";

    protected override void OnInitialized()
    {
        products = new List<string>();

        for (int i = 0; i < 10000; i++)
        {
            products.Add("Product " + i);
        }

        filteredProducts = new List<string>(products);
    }

    private void Filter()
    {
        filteredProducts = products.Where(p => p.Contains(filterString)).ToList();
    }
}